/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sofia+Sans&family=Work+Sans:wght@500;700&display=swap');

/* main container */

* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 75%;
    border: 1px solid red;
    margin-left: 150px;
}


/* banner-header style */

.banner-container {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    ;

}

.b-title {
    font-size: 54px;
    color: #131313;

}

.title-description {
    color: #727272;
    font-weight: 400;
    size: 14px;
}

.btn-primary {
    border-radius: 6px;
    height: 44px;
    width: 160px;
    background-color: #FF900E;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}


.banner-image img {
    width: 75%;
}

/* Quick list style */

.quick-container {
    margin-top: 100px;
    display: flex;
    text-align: right center;
    align-items: center;
    gap: 10px;
}

.quick-iamge {
    display: grid;
    grid-template-columns: auto auto;
    grid: auto auto;
    gap: 20px;
    width: 45%;
}

.q-title {
    font-size: 40px;


}

.quiz-title {
    width: 45%;
}

/* fiture style */


.fiture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;

}

.sub-title {
    font-size: 20px;

}

.button {
    height: 120px;
    width: 250px;

    background-color: #FF900E;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-left: 362px;
    margin-top: -45px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiture-image img {
    overflow: hidden;
    width: 400px;
}

.quick-container img {
    width: 200px;
}