/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sofia+Sans&family=Work+Sans:wght@500;700&display=swap');

/* main container */

* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 75%;
    border: 1px solid red;
    margin-left: 165px;
}


/* banner-header style */

.banner-container {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    ;

}

.b-title {
    font-size: 54px;
    color: #131313;

}

.title-description {
    color: #727272;
    font-weight: 400;
    size: 14px;
    margin-top: 10px;
}

.btn-primary {
    border-radius: 6px;
    height: 44px;
    width: 160px;
    background-color: #FF900E;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}


.banner-image img {
    width: 75%;
}

/* Quick list style */

.quick-container {
    margin-top: 100px;
    display: flex;
    text-align: right center;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}

.quick-iamge {
    display: grid;
    grid-template-columns: auto auto;
    grid: auto auto;
    gap: 20px;
    width: 45%;
}

.q-title {
    font-size: 35px;
    margin-bottom: 10px;

}

.quiz-title {
    width: 45%;
}

.quick-container img {
    width: 200px;

}

/* fiture style */


.fiture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;

}

.sub-title {
    font-size: 20px;

}

.button {
    height: 110px;
    width: 220px;
    background-color: #FF900E;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 30px;
    margin-left: 550px;
    margin-top: -105px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.expreienc {
    display: block;
    font-size: 15px;
}

.fiture-title {
    margin-left: 10px;
}

.fiture-image img {
    overflow: hidden;
    width: 420px;
    margin-left: 100px;
    margin-top: 10px;
    
}
.main-f-title{
    font-size: 40px;
    margin-bottom: 10px;
}
hr{
    width: 80px;
    justify-items: left;
}

.sub-title {
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-left: 5px;
    
    
}

.fiture-sub-title{
    font-weight: 600;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
}

.sub-title-description {
    color: #727272;
   font-size: 14px;
   padding-bottom:15px;
   padding-top: 10px;
   padding-left: 10px;
}

/* some item style */

.some-container{
    margin-top: 100px;
}

.some-item{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    
}

.item{
    border: 2px solid  #FF900E;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

/* sponsors style */

.spomspors-container{
    margin-top: 100px;
}

.sponsor-logo{
    margin-top: 70px;
    gap: 50px;
    display: flex;
    gap: 10px;
   
}

footer{
    margin-top: 50px;
    text-align: center;
    background-color: #FF900E;
}
    